<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionazureamigo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e2fbee0a-3e71-4042-81bc-9ebdf3096831/resourceGroups/ListaDeAmigo/providers/Microsoft.Web/sites/FunctionAzureAmigo</ResourceId>
    <UserName>$FunctionAzureAmigo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionazureamigo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>